#head-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: #466ca2df;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 8px;
}
#head-container h1 {
  text-shadow: 1px 1px 2px black;
}

body {
  background-color: #f5f5f5;
  background-image: url("./Public/Atlanta-scaled.jpg");
  background-repeat: no-repeat;
}
ul {
    list-style-type: none;
}


#middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #466ca2c3;
  /* overflow: hidden; */
  overflow-y: auto;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
}


.startBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

#middle-container button {
  border:1px solid black;

  border-radius: 5px;
  opacity: 90%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.594);
}

#HelpBtn {
  width: 250px;
  height: 75px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  background-color: #49ad49;
  margin: 10px;
  margin-top: -20px;
  color: #fff;
}

#app-descriptor {
  background-color: rgba(128, 128, 128, 0.61);
  border: 1px solid black;
  padding: 5px;
}

#search-text{
  width: auto;
}

#UserBtn {
  width: 250px;
  height: 75px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  background-color: #de891d;
  color: #fff;
}

#dropdown {
  display: none;
}

#dropdown.active {
  display: block;
}

#hamburger {
  display: block;

  margin-right: 3px;
}

#hamburger span {
  display: block;
  height: 4px;
  width: 20px;
  margin-bottom: 4px;
  background-color: black;
}

.hide {
  display: none;
}

.therapistCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(110, 110, 110, 0.482);
  border:1px solid black;
  width: 100%;
  margin: 2.5px;
}

.options {
  z-index: 2;
  margin: 5px;
  display: flex;
  justify-content: center;
}
.options button {
  margin: 5px;
  width: 25%;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(31, 31, 31, 0.515);
  color: #fff;
  align-items: center;
  width: 95%;
  margin-top: 5px;
  border-radius: 5px;
  text-shadow: 2px 2px 2px black;
}
.therapistSpecs {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-image: linear-gradient( to right,rgba(0, 0, 0, 0.300), #de8a1dce, rgba(0, 0, 0, 0.300));
  padding:2.5px;
  width: 100%;
}

.callBtn {
  background-color: #49ad49;
}

.aptBtn {
  background-color: #de891d;
}

.counselor-feature {
  text-align: center;
  color: #fff;
  background-color: #2d4b75dd;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

.counselor-feature .counselor-row img {
  width: 13%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 50%;
  margin-left: -12px;
  position: relative;
}

.therapistPic {
  width: 55%;
  /* height: 75%; */
  border-radius: 50%;
  border: 1px solid slategrey;
}
.therapistName {
  margin-top: 5px;
  margin-bottom: -10px;
  background-color: #466ca2;
  padding: 8px;
}

.search-greeting {
  font-size: large;
  color: white;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  width:auto;
  padding: 5px;
}

