
#head-container{
  
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

#middle-container{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  height: 60vh;
  margin-top:6vh;
  border: 1px solid black;
  border-radius: 5px;
  background-color: slategrey;
}

.startBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#UserBtn{
width: 250px;
height: 75px;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
}

#HelpBtn{
    width: 250px;
    height: 75px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    }
    
 #dropdown {
  display: none;
}

#dropdown.active {
  display: block;
}

#hamburger {
  display: block;
}

#hamburger span {
  display: block;
  height: 4px;
  width: 20px;
  margin-bottom: 4px;
  background-color: black;
}

.hide {
  display: none;
}

.therapistCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(110, 110, 110, 0.482);
  width: 100%;
  margin: 2.5px;
}

.cardInfo {
	display: flex;
  flex-direction: column;
	padding: 10px;
	background-color: rgba(31, 31, 31, 0.515);
	color: whitesmoke;
	align-items:center;
}
.therapistPic {

}
.therapistName {

}
.therapistSpecs {

}
.options {
  /* Class for the therapist cell's button div */
}
.optionBtn {
  /* Class for the buttons inside the therapist cell's button div */
}