h1{
    text-align: center;
}
#middle-container{
    margin-top: 3vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #466ca2;
}
#head-container{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #466ca2;
}

#hamburger span {
    display: block;
    height: 4px;
    width: 20px;
    margin-bottom: 4px;
    background-color: black;
}

#userN{
    text-align: center;
    margin-bottom: 20px;
    
}

#passW{
    text-align: center;
}

.submit{
    margin-top: 50px;
text-align: center;
margin-bottom: 40px;
}