#head-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.container{
    display: flex;   
    justify-content: space-between;
}

#userInfo{
    height: 18cm;
    
}