#head-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #466ca2;
}

.container{
    display: flex;   
    justify-content: space-between;
    justify-content: space-around;

}
@media (max-width: 650px) {
    .container {
      flex-direction: column;
    }
  }
  
#userInfo{
    height: 18cm;
    border-radius: 10px;
    width: 8cm;
    margin-top: 40px;
}

#favInfo{
    border-radius: 10px;
    width: 8cm;
    height: 18cm;
    margin-top: 40px;
}